.work-gallery {
  padding: 0;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}
.work-gallery div {
  flex: auto;
  width: 20vw;
  margin: 0;
}
.work-gallery div img {
  width: 100%;
  height: auto;
}

.work-gallery {
  padding: 0;
  font-size: 0;
  flex-flow: row wrap;
  display: flex;
}
.work-gallery div {
  flex: auto;
  width: 20vw;
  margin: 0;
}
.work-gallery div img {
  width: 100%;
  height: auto;
}