---
---
// Global Variables
$orange:#e8894d;
$orange-light: #FF9753;
$grey: #3F3F3F;
$grey-light: #8C8C8C;
$blue-light:#e8f2f9;

// Imports
@import 'layout';
@import 'words-list';
@import 'work-gallery';
@import 'about-section';
@import 'forms';




// Base Styles
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color:$grey;
}

body {
  margin:0;
  height:100%;
}

main {
  overflow:hidden;
}

h1 {
  font-size: 3.8vmax;
  margin:1vh;;
}

h2 {
  font-size: 3.1vmax;
  margin:0;
}

p {
  font-size:4.5vw;
  margin:0.5vw;
}

.about-section p {
  text-align:center;
  flex-shrink:1;
}

a {
  color:$orange;
  text-decoration:none;
}

a:hover {
  color:$orange-light;
}


// Tablet & Up

@media only screen and (min-device-width : 768px) and (min-width: 768px){
  p {
    font-size:calc(3vmax - 1vw);
  }

}

// Desktop & Up
@media only screen and (min-device-width : 1248px) and (min-width: 1248px) {
  h1 {
    font-size: 2.8vmin;
  }

  h2 {
    font-size: 2.1vmin;
  }

  p {
    font-size:1.3vmax;
  }
}