---
---

body {
  background-image: url("/images/banner.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items:strech;
  flex-wrap: nowrap;
  width:100%;
  min-height:100%;
  // margin-top: 5vmin;
}

.main {
  background: rgba(255, 255, 255, 0.90);
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  // max-width:60vmax;
  padding:1rem;
  // border-radius: 2%;
  // border-style:solid;
  // border-color:black;
  // border-width:1px;
}

.main img {
  height:20vmax;
  border-radius: 50%;
  border-style: solid;
  border-color:black;
}

.main .social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  font-size: 3vmax;
  margin:0.5vh
}

.main .social-icons i {
  margin: 0 0.5vmax;
}

h1 {
  font-size: 2.8vmax;
  margin:0;
}

h2 {
  font-size: 2.1vmax;
  margin:0;
}

p {
  font-size:calc(2.6vmax - 1vw);
  text-align:center;
  margin:0.5vw;
}


.main form {
  display:flex;
  justify-content:center;
  flex-direction:column;
  width:60%;
}

.main .field {
  width: 100%;
  font-size:calc(2.2vmax - 1vw);
}

.main form input {
  height: 3.5vmax;
  margin-bottom:1vh;
  width:100%;
}

.main form textarea {
  min-height: 0px;
  margin-bottom:1vh;
  width:100%;
}

.main button{
  width: 100%;
  font-size:calc(2.2vmax - 1vw);
  height:3.5vmax;
  max-height:3vh;
  margin-bottom:1vh;
}