---
---

// Base and Mobile Style

body {
  background-image: url("/images/banner.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Lato', sans-serif;
  margin:0;
  color:#3F3F3F;
}

.container {
  display: flex;
  justify-content: center;
  align-items:strech;
  flex-wrap: nowrap;
  width:100%;
  min-height:100%;
  // margin-top: 5vmin;
}

.pretty-main {
  display:none;
  flex-shrink:2;
}

.main {
  background: rgba(255, 255, 255, 0.90);
  min-height:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
}

.main-content {
  display:flex;
  min-height:50%;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  padding:1rem;
}

.main img {
  height:20vmax;
  border-radius: 50%;
  border-style: solid;
  border-color:#3F3F3F;
}

.main .social-icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content:center;
  font-size: 3vmax;
  margin:0.5vh
}

.main .social-icons i {
  margin: 0 0.5vmax;
  color:#e8894d
}

.main .social-icons i:hover {
  color:#FF9753;
}

.main h1 {
  font-size: 2.8vmax;
  margin:1vh;;
}

h2 {
  font-size: 2.1vmax;
  margin:0;
}

p {
  font-size:calc(2.6vmax - 1vw);
  text-align:center;
  margin:0.5vw;
}


.main form {
  display:flex;
  justify-content:center;
  flex-direction:column;
  width:60%;
}

.main .field {
  width: 100%;
  font-size:calc(2.2vmax - 1vw);
}

.main form input {
  height: 3.5vmax;
  margin-bottom:1vh;
  width:100%;
  border: none;
  border-bottom: #8C8C8C;
  border-bottom-style: solid;
  border-bottom-width:1px;
  background:none;
}

.main form textarea {
  min-height: 0px;
  margin-bottom:1vh;
  width:100%;
  border: #8C8C8C;
  border-style: solid;
  border-width:1px;
  background:none;
}

.main button{
  width: 100%;
  font-size:calc(2.2vmax - 1vw);
  height:3.5vmax;
  max-height:3vh;
  margin-bottom:1vh;

  background-color:#e8894d;
  color:white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main button:hover {
  background-color:#FF9753;
  color:white;
}

// Tablet and up
@media only screen and (min-device-width : 768px) and (min-width: 768px){
  .pretty-main {
    display:block;
    width:100%;
    flex-shrink:1.5;
  }

  .main {
    background: white;
    width:100%;
    border-left-color: #e8894d;
    border-left-style: solid;
  }

}

// Super Big Screens and up
@media only screen and (min-device-width : 1248px) and (min-width: 1248px){
  .pretty-main {
    flex-shrink:1;
  }

  .main img {
    height:15vmax;
  }

  .main .social-icons {
    justify-content:center;
    font-size: 2vmax;
    margin:0.5vh
  }

  .main .social-icons i {
    margin: 0 0.5vmax;
  }

  .main h1 {
    font-size: 2.8vmin;
  }

  h2 {
    font-size: 2.1vmin;
  }

  p {
    font-size:1.2vmax;
  }


  .main form {
    width:60%;
  }

  .main .field {
    width: 100%;
    font-size:1.2vmax
  }

  .main form input {
    height: 2.5vmax;
    margin-bottom:1vh;
    width:100%;
    font-size:1.2vmax
  }

  .main form textarea {
    min-height: 0px;
    margin-bottom:1vh;
    height:4.5vmax;
    width:100%;
    font-size:1.2vmax
  }

  .main button {
    width: 100%;
    font-size:1.2vmax;
    height:3.5vmax;
    max-height:3.5vmax;
    margin-bottom:1vh;
  }

}