<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript">
  var host = "stanlindsey.net";
  if ((host == window.location.host) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
 --></script>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="icon" type="image/png" href="/favico.png?v=2" />
<link rel="canonical" href=" { { site.url } }{ { page.url } }" />
<meta name="theme-color" content="#e8894d">
<title>{{ site.title }}</title>
</head>
  <body>
    <main>
      <section class="dual-column-collapse about-section">
        <div class="left-section">
        </div>
        <div class="right-section">
          <div class="about-content">
            {{content}}
          </div>
        </div>
      </section>
      <section class="dual-column work-words-section">
        <div class="left-section">
          <div class="work-gallery">
            <div><img src="https://source.unsplash.com/random/400x300" /></div>
            <div><img src="https://source.unsplash.com/random/400x300" /></div>
            <div><img src="https://source.unsplash.com/random/400x300" /></div>
            <div><img src="https://source.unsplash.com/random/400x300" /></div>
          </div>
        </div>
        <div class="right-section">
          <div class="words-list">
            <ul>
              {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </section>
    </main>

  </body>
</html>